header {
    display: flex;
    margin: 0px;
    border-bottom: 3px solid rgba(0, 0, 0, 1);
}

.page-header__content {
    align-self: center;
}

#akan_face {
    width: 75px;
    justify-content: right;
    margin-left: auto;
}

body {
    margin: 5px;
    font-family: 'Lato', sans-serif;
    background-color: #d4af37;
}

a {
    color: #d6ac24;
}

.header-space {
    color: #d4af37;
}

.space {
    color: #613b14;
}

.page-content {
    width: 80%;
    margin-right: 10%;
    margin-left: 10%;
    padding-left: 10px;
    background-color: #613b14;
    color: #fff;
    border-right: 5px solid rgba(94, 78, 23, 1);
    border-bottom: 5px solid rgba(94, 78, 23, 1);
}

.content_image {
    margin-top: 5px;
    width: 200px;
    float: right;
    margin-right: 10px;
}

#akan_image {
    width: 350px;
    height: 300px;
    float: left;
}

.page-content__header {
    font-family: 'Climate Crisis', cursive;
}

.appending__content {
    font-size: 20px;
}

@media all and (min-width: 1216px) {
    .page-content__first {
        height: 400px;
    }
}

@media all and (min-width: 840px) {
    .page-content__second {
        height: 300px;
    }
}